<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.possystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.POSsystem">
        <activity
            android:name=".activity_TakeOut_alternate"
            android:label="@string/title_activity__take_out_alternate"
            android:theme="@style/Theme.POSsystem.NoActionBar"></activity>
        <activity android:name=".activity_TakeOut" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".DiningActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>