<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.posapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.POSApplication">
        <activity
            android:name=".activity_TakeOut_alternate"
            android:label="activity__take_out_alternate"/>
<!--            android:theme="@style/Theme.POSsystem.NoActionBar"></activity>-->
        <activity android:name=".activity_TakeOut" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".DiningActivity" />
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.POSApplication.NoActionBar" />
        <activity
            android:name=".UsersActivity"
            android:label="UsersActivity"/>
        <activity
            android:name=".RegisterActivity"
            android:label="RegisterActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>